@import '../../mixins.scss';


.cart-panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 99;
    .opac-layer{
        background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    .cart-content{
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        animation: cartSlider 0.3s ease forwards;
        @include md{
            width: 350px;
        }
        .cart-header{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 20px 15px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
           
            .heading{
                flex-grow: 1;
                margin-bottom: 0;
                font-weight: 700;
                font-size: 20px;
                text-transform: capitalize;
            }
            .close-btn{
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                svg{
                    font-size: 18px;
                }
                .text{
                    font-size: 14px;
                    text-transform: uppercase;
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        .empty-cart{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 100px;
            align-items: center;
            svg{
                font-size: 120px;
                opacity: 0.1;
            }
            .return-cart{
                outline: 0;
                border: 0;
                width: 150px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 13px;
                color: white;
                background-color: #DB4444;
                border-bottom: 3px solid #DB4444;
            }

        }

        .cart-footer{
            border-top: 1px solid rgba(0,0,0,0.1);
            .subtotal{
              padding: 20px 15px;
              border-bottom: 1px solid rgba(0,0,0,0.1);
              display: flex;
              justify-content: space-between;
              .text{
                margin-bottom: 0;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                &.total{
                    color: #DB4444;
                }
              }
            }
            .button{
                padding: 20px 15px;
                .checkout-cart{
                outline: 0;
                border: 0;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 16px;
                color: white;
                background-color: #DB4444;
                border-bottom: 3px solid #DB4444;
                }
            }
        }
    }

}

@keyframes cartSlider {
    0% {transform: translateX(100%);}
    100% {
        transform: translateX(0);
    }
}