@import '../../mixins.scss';

.single__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    @include sm{
        margin-top: 40px;
        flex-wrap: nowrap;
    }

    .img {
        @include sm{

            width: 50%;
        }
        width: 100%;
        // padding: 20px;
       
        border: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #e2e1e1c7;
        height: inherit;
        img {
            height: 100%;
            width: 100%;
        }
    }

    .details {
        @include sm{

            width: 50%;
        }

        div {

            margin-bottom: 16px;
        }

        .name {
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.03em;

        }

        .rating {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            opacity: 0.5;

        }

        .price {
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.03em;
        }

        .description {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            height: 38px;

            .qty_btn {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                width: 30%;
                border-radius: 4px 0px 0px 4px;

                span {
                    font-size: 18px;
                    @include sm{
                        font-size: 24px;

                    }
                    width: 40%;
                    color: #000000;
                    text-align: center;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                }

            }

            button {
                cursor: pointer;
                height: 100%;
                font-size: 14px;
                @include sm{
                    font-size: 24px;

                }
                width: 40%;
                background-color: #DB4444;
                color: white;
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 4px 0px 0px 4px;

                &:hover {
                    background-color: #da5e5e;

                }
            }

            span {
                height: 100%;
                font-size: 18px;
                    @include sm{
                        font-size: 24px;

                    }
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 4px 0px 0px 4px;
                cursor: pointer;
                
                    color: rgb(217, 173, 173);
                
            }

        }

        .delivery {
            margin-top: 36px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 4px 0px 0px 4px;
            padding: 5px;
            @include sm{
                padding: 20px;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;
                padding: 10px;

                svg {
                    font-size: 40px;
                }

                .heading {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }

            }
        }
    }
}